In [1]:
#Importing required libraries
import selenium
import pandas as pd
from selenium import webdriver

8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [2]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [3]:
#Getting the website to driver
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

#When we run this line, automatically the webpage will be opened

In [4]:
#Creating empty lists to store the scrapped data
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

#Scrapping the data having the book name
book=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book:
    Book.append(i.text)
    
#Scrapping the data having the author name
author=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author.append(i.text)
    
#Scrapping the data having the volumes sold details
volume=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume:
    Volume.append(i.text)

#Scrapping the data having publisher details
publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)
    
#Scrapping the data having genre details 
genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [5]:
#Creating a dataframe for the scrapped data
novels=pd.DataFrame({})
novels['Book']=Book
novels['Author']=Author
novels['Volumes sold']=Volume
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [6]:
#Closing the driver
driver.close()