In [1]:
#Importing required libraries
import selenium
import pandas as pd
import time
from selenium import webdriver

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First, get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [3]:
#Getting the website to driver
driver.get('https://www.naukri.com/')

#When we run this line, automatically the webpage will be opened

In [4]:
#Finding the required elements from the search bars of job and location
job_search=driver.find_element_by_id('qsb-keyword-sugg')
location_search=driver.find_element_by_id('qsb-location-sugg')

#Sending the inputs to the webpage
job_search.send_keys("Data Analyst")
location_search.send_keys("Bangalore")

#Searching the inputs by using the search button and clicking it
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

In [5]:
#Specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(url)

In [6]:
#Extracting all the tags having the job title
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

#Extracting the text from the tags
title=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_title[:10]:
    title.append(i.text)
title

#Extracting all the tags having the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location

#Extracting the text from the tags
location=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_location[:10]:
    location.append(i.text)
location    

#Extracting the tags having the company name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name

#Extracting the text from the tags
company=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in name[:10]:
    company.append(i.text)
company

#Extracting the tags having experience required
exp_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_required

#Extracting the text from the tags
exp=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in exp_required[:10]:
    exp.append(i.text)
exp

#Checking out the length of the data extracted
print(len(title),len(location),len(company),len(exp))

#Creating a new dataframe for saving the data
jobs=pd.DataFrame({})
jobs['Title']=title
jobs['Location']=location
jobs['Company name']=company
jobs['Experience required']=exp
jobs

10 10 10 10

,Title,Location,Company name,Experience required
0,Data Engineer/Data Analyst- Chennai,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Inflexion Analytix Private Limited,0-2 Yrs
1,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,"RedLock, Inc",0-0 Yrs
3,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,1-2 Yrs
5,"Data Analyst - Alteryx, Tableau and SQL",Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

In [7]:
#Closing the driver
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First, get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [8]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [9]:
#Getting the website to driver
driver.get('https://www.naukri.com/')

#When we run this line, automatically the webpage will be opened

In [10]:
#Finding the required elements from the search bars of job and location
job_search=driver.find_element_by_id('qsb-keyword-sugg')
location_search=driver.find_element_by_id('qsb-location-sugg')

#Sending the inputs to the webpage
job_search.send_keys("Data Scientist")
location_search.send_keys("Bangalore")

#Searching the inputs by using the search button and clicking it
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

In [11]:
#Specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [12]:
#Extracting all the tags having the job title
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

#Extracting the text from the tags
title=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_title[:10]:
    title.append(i.text)
title    

#Extracting all the tags having the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location

#Extracting the text from the tags
location=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_location[:10]:
    location.append(i.text)
location    

#Extracting the tags having the company name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name

#Extracting the text from the tags
company=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in name[:10]:
    company.append(i.text)
company

#Extracting the full-job description tags from the webpage
#First we will extract the links alone for the full job desc
job_desc=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_desc

#After extracting the link's tags, we will append to an empty list and extract the links
desc=[]  #Empty list
for i in job_desc[:10]:
    desc.append(i.get_attribute("href"))
desc 

#After extracting links, we will make another for loop for extracting the text
#Importing exception
import time
from selenium.common.exceptions import NoSuchElementException
job_desc=[]  #Empty list
for i in desc:   #running a for loop for fetching the driver
    driver.get(i)
    time.sleep(3)   #Making the webpage sleep for 3 seconds using timer
    try:
        full_desc=driver.find_element_by_xpath(("//section[@class='job-desc']")).text  #XPath of full job description
        job_desc.append(full_desc.replace('Job description\n',' '))
    except NoSuchElementException as e:
        print("Exception Raised",e)  #Printing exception message
        job_desc.append("Not Available") #Appending Not Available for no job description

Exception Raised Message: no such element: Unable to locate element: {"method":"xpath","selector":"//section[@class='job-desc']"}
  (Session info: chrome=89.0.4389.114)

Exception Raised Message: no such element: Unable to locate element: {"method":"xpath","selector":"//section[@class='job-desc']"}
  (Session info: chrome=89.0.4389.114)

In [13]:
#Checking out the length of the data extracted
print(len(title),len(location),len(company),len(exp),len(job_desc))

#Creating a new dataframe for saving the data
jobs=pd.DataFrame({})
jobs['Title']=title
jobs['Location']=location
jobs['Company name']=company
jobs['Experience required']=exp
jobs['Job Description']=job_desc
jobs

10 10 10 10 10

,Title,Location,Company name,Experience required,Job Description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,0-2 Yrs,Responsibilities and Duties\nCreate innovativ...
1,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,6-8 Yrs,Roles and Responsibilities\n\n\n- Selecting f...
2,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,0-0 Yrs,Job Summary and Key Responsibilities\nManage...
3,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,0-2 Yrs,Not Available
4,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,1-2 Yrs,What Youll Do\n\nWe re looking for a pass...
5,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,2-5 Yrs,\nAbout Ganit Inc\n\nFounded by senior indust...
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,3-6 Yrs,Roles and Responsibilities\n\nMust have stron...
7,Associate Data Scientist - CRM & Loyalty,Bangalore/Bengaluru,Shell India Markets Private Limited,4-8 Yrs,The Role\nGeneral Position Definition\nThis r...
8,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,3-8 Yrs,Not Available
9,Senior Data Analyst / ML & AI Engineer / Data ...,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",CHANDRA PUMPS,4-8 Yrs,-Ability to learn new concepts quickly and tr...

In [14]:
#Closing the driver
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage:

* You have to use the location and salary filter.
* You have to scrape data for “Data Scientist” designation for first 10 job results.
* You have to scrape the job-title, job-location, company_name, experience_required.
* The location filter to be used is “Delhi/NCR”
* The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [15]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [16]:
#Getting the website to driver
driver.get('https://www.naukri.com/')

#When we run this line, automatically the webpage will be opened

In [17]:
#Finding the required elements from the search bar of job
job_search=driver.find_element_by_id('qsb-keyword-sugg')

#Sending the input to the webpage
job_search.send_keys("Data Scientist")

#Searching the input by using the search button and clicking it
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

In [18]:
#Locating the filters in the webpage
#First, we will filter the location
filter_location=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_location:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [19]:
#Filtering the salary
filter_salary=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_salary:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [20]:
#After filtering location and salary, we will specify the url of webpage
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&ctcFilter=3to6&cityTypeGid=9508"
driver.get(url)

In [21]:
#Extracting all the tags having the job title
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

#Extracting the text from the tags
title=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_title[:10]:
    title.append(i.text)
title   

#Extracting all the tags having the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location

#Extracting the text from the tags
location=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_location[:10]:
    location.append(i.text)
location    

#Extracting the tags having the company name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name

#Extracting the text from the tags
company=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in name[:10]:
    company.append(i.text)
company

#Extracting the tags having experience required
exp_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_required

#Extracting the text from the tags
exp=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in exp_required[:10]:
    exp.append(i.text)
exp

#Checking out the length of the data extracted
print(len(title),len(location),len(company),len(exp))

#Creating a new dataframe for saving the data
jobs=pd.DataFrame({})
jobs['Title']=title
jobs['Location']=location
jobs['Company name']=company
jobs['Experience required']=exp
jobs

10 10 10 10

,Title,Location,Company name,Experience required
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
2,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",FUTURES AND CAREERS,2-7 Yrs
4,Data Scientist - Hadoop/BigQuery,Noida,Jubna,3-6 Yrs
5,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",FUTURES AND CAREERS,3-8 Yrs
6,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,2-7 Yrs
7,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
8,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs
9,Data Scientist - Python & Machine Learning (IS...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs

In [22]:
#Closing the driver
driver.close()

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. First get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [23]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [24]:
#Getting the website to driver
driver.get('https://www.glassdoor.co.in/index.htm')

#When we run this line, automatically the webpage will be opened

In [25]:
#Finding the required elements from the search bars of job and location
job_search=driver.find_element_by_id('sc.keyword')
location_search=driver.find_element_by_id('sc.location')

#Sending the inputs to the webpage
job_search.send_keys("Data Scientist")
location_search.send_keys("Noida")

#Searching the inputs by using the search button and clicking it
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

In [26]:
#Specifying the url of the webpage to be scraped
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
driver.get(url)

In [27]:
#Extracting the tags having the company name
name=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
name

#Extracting the text from the tags
company=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in name[:10]:
    company.append(i.text)
company

#Extracting the tags having the no of days when job was posted
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days

#Extracting the text from the tags
no_of_days=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in days[:10]:
    no_of_days.append(i.text.replace('d',' days ago'))
no_of_days

#Extracting the tags having the rating of the company
rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rating

#Extracting the text from the tags
ratings=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in rating[:10]:
    ratings.append(i.text)
ratings

#Checking out the length of the data extracted
print(len(company),len(no_of_days),len(ratings))

#Creating a new dataframe for saving the data
jobs=pd.DataFrame({})
jobs['Company name']=company
jobs['Days posted']=no_of_days
jobs['Rating of the company']=ratings
jobs

10 10 10

           Company name  Days posted Rating of the company
0             BlackRock  20 days ago                   4.0
1             BlackRock  20 days ago                   4.0
2  Gauge Data Solutions          24h                   3.1
3                 Adobe   3 days ago                   4.4
4       Healtheoz India          24h                   4.8
5       Priority Vendor          24h                   3.7
6       SearchUrCollege          24h                   4.2
7       abc consultants   1 days ago                   3.8
8        Biz2Credit Inc   9 days ago                   5.0
9              Techlive   7 days ago                   4.0

In [28]:
#Closing the driver
driver.close()

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

The above task will be, done as shown in the below steps:
1. First get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the page.
5. You have to scrape whole data from this webpage
6. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
7. Store the data in a dataframe.

In [29]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [30]:
#Getting the website to driver
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

#When we run this line, automatically the webpage will be opened

In [31]:
#Finding the required elements from the search bars of job and location
job_search=driver.find_element_by_id('KeywordSearch')
location_search=driver.find_element_by_id('LocationSearch')

#Sending the inputs to the webpage
job_search.send_keys("Data Scientist")
location_search.send_keys("Noida")

#Searching the inputs by using the search button and clicking it
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

In [32]:
#Specifying the url of the webpage to be scraped
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"
driver.get(url)

In [33]:
#Extracting the tags having the company name
comp_name=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
comp_name

#Extracting the text from the tags
company=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in comp_name[:10]:
    company.append(i.text)
company

#Extracting the tags having the number of salaries
no_salaries=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")
no_salaries

#Extracting the text from the tags
no_of_salaries=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in no_salaries[:10]:
    no_of_salaries.append(i.text)
no_of_salaries

#Extracting the tags having average salary
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_sal

#Extracting the text from the tags
avg_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in avg_sal[:10]:
    avg_salary.append(i.text.replace('\n',''))
avg_salary

#Extracting the tags having minimum salary
min_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[1]")
min_sal

#Extracting the text from the tags
min_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in min_sal[:10]:
    min_salary.append(i.text)
min_salary

#Extracting the tags having the maximum salary
max_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[2]")
max_sal

#Extracting the text from the tags
max_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in max_sal[:10]:
    max_salary.append(i.text)
max_salary

#Checking out the length of the data extracted
print(len(company),len(no_of_salaries),len(avg_salary),len(min_salary),len(max_salary))

#Creating a new dataframe for saving the data
jobs=pd.DataFrame({})
jobs['Company Name']=company
jobs['Number of salaries']=no_of_salaries
jobs['Average salary']=avg_salary
jobs['Minimum salary']=min_salary
jobs['Maximum salary']=max_salary
jobs

10 10 10 10 10

,Company Name,Number of salaries,Average salary,Minimum salary,Maximum salary
0,Tata Consultancy Services,14 salaries,"₹ 5,97,967/yr",₹333K,"₹1,080K"
1,Accenture,14 salaries,"₹ 11,12,243/yr",₹560K,"₹2,147K"
2,Delhivery,14 salaries,"₹ 12,12,741/yr",₹436K,"₹11,274K"
3,IBM,13 salaries,"₹ 7,37,972/yr",₹569K,"₹2,648K"
4,Ericsson-Worldwide,12 salaries,"₹ 7,15,984/yr",₹350K,"₹1,565K"
5,UnitedHealth Group,10 salaries,"₹ 13,41,900/yr","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812/yr",₹487K,"₹1,421K"
7,Innovaccer,8 salaries,"₹ 11,81,047/yr",₹602K,"₹1,644K"
8,ZS Associates,7 salaries,"₹ 9,89,924/yr",₹196K,"₹1,755K"
9,EXL Service,7 salaries,"₹ 11,73,127/yr",₹558K,"₹1,500K"

In [34]:
#Closing the driver
driver.close()

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com.

You have to scrape four attributes:
   1. Brand
   2. Product Description
   3. Price
   4. Discount %
   
To scrape the data you have to go through following steps:

1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon.
3. After that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
7. Finally create a dataframe of the scraped data.

Note that all of the above steps have to be done by coding only and not manually.

In [35]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [36]:
#Getting the website to driver
driver.get(' https://www.flipkart.com/')

#When we run this line, automatically the webpage will be opened

In [37]:
#Searching sunglasses in the search bar and clicking the search button
search_bar=driver.find_element_by_xpath("//input[@type='text']")
search_bar.send_keys('sunglasses')

driver.find_element_by_xpath("//button[@type='submit']").click()

In [38]:
#Specifying the url of the webpage to be scraped
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [39]:
#Taking the empty lists
brand=[]
prod_desc=[]
org_price=[]
discount=[]
disc_price=[]

#We need to scrap for 100 products and here we will consider the data from first 3 pages
#We will take a for loop and scrap data from all the pages
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        org_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)
   
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
    driver.get(next_page)
    time.sleep(2)  #2 seconds wait time for each page

In [40]:
#Checking the length of the data scraped
print(len(brand),len(prod_desc),len(org_price),len(discount),len(disc_price))

#Creating a new dataframe
glass=pd.DataFrame({})
glass['Brand']=brand[:100]
glass['Description']=prod_desc[:100]
glass['Original Price']=org_price[:100]
glass['Discount']=discount[:100]
glass['Discounted Price']=disc_price[:100]
glass

120 120 120 120 120

,Brand,Description,Original Price,Discount,Discounted Price
0,ROYAL SON,Mirrored Aviator Sunglasses (58),"₹1,499",73% off,₹399
1,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599",84% off,₹250
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹899,15% off,₹758
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹799,16% off,₹666
4,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599",84% off,₹250
...,...,...,...,...,...
95,Fastrack,UV Protection Rectangular Sunglasses (56),₹799,15% off,₹679
96,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",₹945,77% off,₹209
97,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),"₹1,499",73% off,₹398
98,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...","₹1,995",77% off,₹449
99,Aislin,"UV Protection, Gradient Wayfarer Sunglasses (57)","₹2,150",68% off,₹683

In [41]:
#Closing the driver
driver.close()

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

1. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace
2. When you will open the above link you will reach to the webpage.
3. As shown in the above page you have to scrape the following attributes:
   1. Rating
   2. Review_summary
   3. Full review
4. You have to scrape this data for first 100 reviews.  
5. Finally create a dataframe of the scraped data.

In [42]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [43]:
#Getting the website to driver
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

#When we run this line, automatically the webpage will be opened

In [44]:
#Taking the empty lists
Rating=[]
review=[]
full_summary=[]

#As there are nearly 10 reviews per page, we will check for 11 pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_summary.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(k) 
    driver.get(next_page)
    time.sleep(2)  #2 seconds wait time for each page
    
#Checking the length of the data scraped
print(len(Rating),len(review),len(full_summary))

109 110 110

In [45]:
#Creating a new dataframe
phone=pd.DataFrame({})
phone['Rating']=Rating[:100]
phone['Review']=review[:100]
phone['Full summary']=full_summary[:100]
phone

,Rating,Review,Full summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,4,Awesome,So good look comfortable iPhone 11 I am so ver...
96,5,Good choice,I have my first iPhone\nI love it\nusing 15 da...
97,5,Worth every penny,I upgraded from one plus 6 to iPhone 11 and it...
98,5,Classy product,This is very second time I am using iphone I a...
99,5,Super!,I’d like to start by saying that the overall e...

In [46]:
#Closing the driver
driver.close()

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [47]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [48]:
#Getting the website to driver
driver.get(' https://www.flipkart.com/')

#When we run this line, automatically the webpage will be opened

In [49]:
#Searching sneakers in the search bar and clicking the search button
search_bar=driver.find_element_by_xpath("//input[@type='text']")
search_bar.send_keys('sneakers')

driver.find_element_by_xpath("//button[@type='submit']").click()

In [50]:
#Specifying the url of the webpage to be scraped
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [51]:
#Taking the empty lists
brand=[]
prod_desc=[]
org_price=[]
discount=[]
disc_price=[]

#We need to scrap for 100 products and here we will consider the data from first 4 pages
#We will take a for loop and scrap data from all the pages
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        org_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)
   
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
    driver.get(next_page)
    time.sleep(2)  #2 seconds wait time for each page
    
#Checking the length of the data scraped
print(len(brand),len(prod_desc),len(org_price),len(discount),len(disc_price))

160 131 156 156 160

In [52]:
#Creating a new dataframe
sneakers=pd.DataFrame({})
sneakers['Brand']=brand[:100]
sneakers['Description']=prod_desc[:100]
sneakers['Original Price']=org_price[:100]
sneakers['Discount']=discount[:100]
sneakers['Discounted Price']=disc_price[:100]
sneakers

,Brand,Description,Original Price,Discount,Discounted Price
0,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,"₹1,798",72% off,₹499
1,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹999,60% off,₹399
2,Chevit,Super & Trendy Men's Pack of 02 Pair Shoes for...,"₹1,998",78% off,₹420
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,"₹1,996",76% off,₹474
4,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹999,65% off,₹349
...,...,...,...,...,...
95,Ktiz,168 Smart Red Lace-Ups Casuals for Men Sneaker...,"₹1,355",79% off,₹399
96,Chevit,Sneakers Sneakers For Men,₹999,30% off,₹594
97,believe,Sneakers For Men,₹499,60% off,₹446
98,ROCKFIELD,Synthetic Leather Casual Sneakers Shoes For Me...,₹999,63% off,₹424
99,Axter,Super 445 Fashion Sneakers For Men,₹999,30% off,₹284

In [53]:
#Closing the driver
driver.close()

# Q9: Myntra webpage scraping

1. Go to the link - https://www.myntra.com/shoes
2. Set Price filter to “Rs. 6649 to Rs. 13099” and Color filter to “Black”, as shown in the image.
3. And then scrape First 100 shoes data you get.
4. The data should include “Brand” of the shoes , Short Shoe description and price of the shoes.
5. Finally create a dataframe of the scraped data.

In [54]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [55]:
#Getting the website to driver
driver.get('https://www.myntra.com/shoes')

#When we run this line, automatically the webpage will be opened

In [56]:
#Filtering the color black
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [57]:
#Filtering the price range Rs. 6649 to Rs. 13099
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

In [58]:
#After filtering price range and color, we will specify the url of webpage
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0"
driver.get(url)

In [59]:
#Taking the empty lists
brand=[]
short_desc=[]
price=[]

#We can see that there are 50 products in one page, and as we need to scrap for 100 products, we need to take 2 pages data
for i in range(0,2):
    #Finding the tags having the brand name
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(j.text) #Extracting text from tags and appending to emptylist
    
    #Finding the tags having short description of the shoe
    for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        short_desc.append(j.text) #Extracting text from tags and appending to emptylist
        
    #Finding the tags having the price of the shoe
    for j in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(j.text)  #Extracting text from tags and appending to emptylist
    driver.find_element_by_class_name('pagination-next').click()   #Button path for moving to next page
    time.sleep(2)  #2 seconds wait time
    
#Checking the length of the list
print(len(brand),len(short_desc),len(price))

100 100 100

In [60]:
#Checking the length of the list
print(len(brand),len(short_desc),len(price))

#Creating a new dataframe
shoes=pd.DataFrame({})
shoes['Brand name']=brand
shoes['Short description']=short_desc
shoes['Price']=price
shoes

100 100 100

,Brand name,Short description,Price
0,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
1,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
2,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990(30% OFF)
3,Heel & Buckle London,Men Leather Formal Loafers,Rs. 7992Rs. 9990(20% OFF)
4,Hush Puppies,Men Formal Derbys,Rs. 9999
...,...,...,...
95,Geox,Men Leather Formal Derbys,Rs. 9742Rs. 12990(25% OFF)
96,Geox,Women Leather Boat Shoes,Rs. 8990
97,Geox,Women Solid Leather Flats,Rs. 7492Rs. 9990(25% OFF)
98,Geox,Men Leather Formal Oxfords,Rs. 7867Rs. 10490(25% OFF)
99,Geox,Men Leather Formal Oxfords,Rs. 9367Rs. 12490(25% OFF)

In [61]:
#Closing the driver
driver.close()

# Q10. Amazon.com webpage scraping

1. Go to webpage https://www.amazon.in/
2. Enter “Laptop” in the search field and then click the search icon.
3. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the image.
4. After setting the filters scrape first 10 laptops data.
5. You have to scrape 3 attributes for each laptop:
   1. title
   2. Ratings
   3. Price
6. Finally create a dataframe of the scraped data.

In [62]:
#Importing exception
from selenium.common.exceptions import NoSuchElementException

In [63]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

In [64]:
#Getting the website to driver
driver.get('https://www.amazon.in/')

#When we run this line, automatically the webpage will be opened

In [65]:
#Searching laptop in the search bar and clicking the search button
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("laptop")

driver.find_element_by_id('nav-search-submit-button').click()

In [66]:
#Locating the filters from the webpage
#Filtering Intel Core i7 from filters
filter1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter1:
    if i.text=='Intel Core i7':
        i.click()
        break

In [67]:
#Filtering Intel Core i9 from filters
filter1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter1:
    if i.text=='Intel Core i9':
        i.click()
        break

In [68]:
#Specifying the url of the webpage to be scraped
url="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1617789939&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"
driver.get(url)

In [69]:
#Extracting the tags having the product title
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title

#Extracting the text from the tags
prod_title=[]  #Empty list

#As we need to scrap data for the first 10 product results, we are running a for loop for first 10 results only
for i in title[:10]:
    prod_title.append(i.text)
prod_title    

#Extracting the tags having the price of the product
price=driver.find_elements_by_xpath("//span[@class='a-price']")
price

#Extracting the text from the tags
prod_price=[]  #Empty list

#As we need to scrap data for the first 10 product results, we are running a for loop for first 10 results only
for i in price[:10]:
    prod_price.append(i.text)
prod_price

#Extracting the tags having the product ratings
#First we will collect the urls of all laptops
laptop_urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
URL=[]   #Taking an empty list

#Appending the url of first 10 laptops to empty list
for i in laptop_urls[:10]:
    URL.append(i.get_attribute('href'))   #Getting url alone
URL    

#Extracting the ratings of the laptop by using exception as some products dont have any ratings
Ratings=[]   #Empty list
#Loop for every laptops in the list
for url in URL:
    driver.get(url)
    try:   #Exception handling by using NoSuchElementException
        prod_rating=driver.find_element_by_id('acrCustomerReviewText')  #Locating the rating link
        prod_rating.click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']") #Locating the rating tags
        Ratings.append(rating.text)  #Appending the text from tags to the list
    except NoSuchElementException as e:
        Ratings.append('No Rating')  #Appending message for products having no ratings
        
#Checking out the length of the data extracted
print(len(prod_title),len(prod_price),len(Ratings))

10 10 10

In [70]:
#Creating a new dataframe for saving the data
amazon=pd.DataFrame({})
amazon['Product name']=prod_title
amazon['Price']=prod_price
amazon['Rating']=Ratings
amazon

                                        Product name      Price        Rating
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    ₹86,990  4.2 out of 5
1  MSI Creator 15M, Intel i7-10750H, 15.6" FHD IP...  ₹1,09,990    5 out of 5
2  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...    ₹78,990  4.1 out of 5
3  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    ₹76,500  4.6 out of 5
4  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...  ₹1,98,590    3 out of 5
5  Mi Notebook Horizon Edition 14 Intel Core i5-1...    ₹49,999  4.4 out of 5
6  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  ₹2,69,990  3.3 out of 5
7  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  ₹1,35,490  3.4 out of 5
8  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...    ₹45,990  4.3 out of 5
9  Dell XPS 15 9570 8thGeneration Corei7,16GB RAM...    ₹96,061  3.9 out of 5

In [71]:
#Closing the driver
driver.close()